
{% for data in datapengaduan %}
    <tr>
        <td>{{data.nama}}</td>
        <td>{{data.email}}</td>
        <td>{{data.subject}}</td>
        <td>{{data.date_created|date:'Y-m-d'}}</td>
        <td>
            <button type="button" class="btn btn-sm btn-primary js-pengaduan-view" data-url="#">
                <span class="fa fa-eye"></span> Lihat
            </button>
            <button type="button" class="btn btn-sm btn-danger js-pengaduan-delete" data-url="#">
                <span class="fa fa-trash"></span> Hapus
            </button>
        </td>
    </tr>
{% endfor %}
    