<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Detail Pengaduan</h4>
</div>
<div class="modal-body">
    <table class="table table-responsive table-bordered">
        <tr>
            <td>Nama</td>
            <td>{{pengaduan.nama}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{pengaduan.email}}</td>
        </tr>
        <tr>
            <td>Subject</td>
            <td>{{pengaduan.subject}}</td>
        </tr>
        <tr>
            <td>Pesan</td>
            <td>{{pengaduan.message}}</td>
        </tr>
        <tr>
            <td>Tanggal</td>
            <td>{{pengaduan.date_created|date:'Y-m-d'}}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
    <button type="button" class="btn btn-success">Balas</button>
</div>