<form action="{% url 'penulis:delete-pengaduan' pengaduan.id %}" method="POST" class="js-pengaduan-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete Pengaduan</h4>
    </div>
    <div class="modal-body">
        <p class="lead">Apakah anda yakin ingin menghapus data pengaduan atas nama <b>{{pengaduan.nama}}</b> dengan subcject <b>{{pengaduan.subject}}</b> ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>
