{% extends 'basepenulis' %}
{% load static %}

{% block title_app %}
    {{page_title}}
{% endblock title_app %}

{% block content %}
    <div class="box-header">
        <h3 class="box-title">{{page_title}}</h3>
        <div class="pull-right">

            <a class="btn btn-primary" href="{% url 'penulis:home-penulis' %}"><i class="fa fa-backward"></i> Kembali</a>
        </div>
    </div>
    <div class="box-body">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'penulis/artikel_form.html' %}
            <div class="pull-right">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
    